.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.account-button-container {
    position: fixed;
    margin: 0.5em 0.5em 0em 0em;
    z-index: 1;
    right: 0;
    top: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
}

.account-button {
    height: 1.5em;
    width: 1.5em;
    margin: 0em 0em 0.3em 0.8em;
    filter: brightness(40%);
    cursor: pointer;
}

.logout-button {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
}

.main-inner-container {
    height: 100%;
    width: 100%;
    flex-shrink: 1;
    display: flex;
}

.info-icon-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5em;
}

.info-icon {
    height: 1.3em;
    filter: brightness(40%);
}

.info-overlay {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-100%);
    white-space: nowrap;
    color: rgb(197, 193, 193);
    background: rgba(0, 0, 0, 0.4);
    padding: 0.2em 0.6em;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    font-size: 1em;
    text-align: center;
    visibility: hidden;
}

.info-icon-container:hover .info-overlay {
    opacity: 1;
    transform: translateX(-100%);
    visibility: visible;
}
