.settings-container,
.account-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 3;
}


.settings-modal,
.account-modal {
    border-radius: 0.2em;
    background-color: rgb(232, 232, 232);
    z-index: 4;
}


.account-modal {
    padding: 2.5em;
    width: 45%;
    max-width: 470px;
    min-width: 290;
}

.login-modal-container>h1,
.create-account-container>h1 {
    margin-bottom: 0.5em;
}

.login-modal-container,
.create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.login-modal-inner,
.create-account-inner {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-modal-inner {
    max-height: 280px;
}

.create-account-inner {
    max-height: 400px;
}

.error-forgot-pass-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4em;
}

.login-button {
    margin-top: 0.3em;
    width: 100%;
    background-color: rgb(55, 61, 245);
    color: white;
    padding: 0.6em;
    border-radius: 4px;
    font-size: 11pt;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.05rem;
}

.create-account-button {
    width: fit-content;
    margin: auto;
    font-size: 10pt;
    font-weight: 300;
    margin-top: 1.1em;
    color: rgb(7, 7, 133);
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password-button {
    font-size: 10pt;
    font-weight: 500;
    color: #77777b;
    cursor: pointer;
}


.settings-modal {
    width: 50%;
    padding: 2em;
    max-width: 480px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-modal>h1 {
    margin-bottom: 0.7em;
}

.settings-modal-inner {
    height: 100%;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;
}



.theme-dropdown-container {
    margin-left: 1em;
}


.settings-key-mappings {
    display: flex;
    flex-direction: column;
}

.settings-key-mappings>h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: 600;
}

.settings-modal .key-mapping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0em;
}

.settings-modal h3 {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    ;
}
