/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/styles/resizable.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.resizable-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.editor-container {
    height: 100%;
    flex-shrink: 0;
}

.resize {
    cursor: col-resize;
    width: 4px;
    background-color: rgb(126, 75, 14);
}

.output-container {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/styles/codeEditor.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.code-editor-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editor-navbar-container {
    height: 3.3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #3f4046;
}

/* .run-button {
    
} */

.editor {
    height: 100% !important;
    word-spacing: 0.06ch;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/styles/console.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.console-container {
    height: 100%;
}

.console {
    height: 100%;
    overflow: auto;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/styles/settings.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.settings-container.display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.settings-container.hide {
    display: none;
}

.settings-modal {
    border-radius: 0.2em;
    width: 50%;
    max-width: 480px;
    height: 70%;
    padding: 3em 2em;
    background-color: rgb(232, 232, 232);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-modal>h1 {
    height: 10%;
    margin-bottom: 1em;
}

.settings-modal-inner {
    height: 90%;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;

}

.theme-dropdown-container,
.language-dropdown-container {
    margin-left: 1em;
}


.settings-key-mappings {
    display: flex;
    flex-direction: column;
}

.settings-key-mappings>h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 22px;
    font-weight: 600;
}

.settings-modal .key-mapping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0em;
}

.settings-modal h3 {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    ;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/styles/main.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.main-inner-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.info-icon-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5em;
}

.info-icon {
    height: 1.5em;
    filter: brightness(50%);
}

.info-overlay {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-100%);
    white-space: nowrap;
    color: rgb(197, 193, 193);
    background: rgba(0, 0, 0, 0.4);
    padding: 0.2em 0.6em;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    font-size: 1em;
    text-align: center;
    visibility: hidden;
}

.info-icon-container:hover .info-overlay {
    opacity: 1;
    transform: translateX(-100%);
    visibility: visible;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/styles/global.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/* norp bg-color: #303444; */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.submit-button {
  background-color: rgb(217, 225, 232);
  padding: 0.6em 1.2em;
  border-radius: 3px;
  margin: 0em 1em;

  color: #3f4046;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.hidden {
  display: none;
}

.visibile {
  display: flex;
}

